doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/vendor/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/vendor/font-awesome.css')
    link(rel='stylesheet', href='/stylesheets/design.css')
    script(src='/javascripts/plugins.js')
    script(src='/javascripts/main.js')
    script(src='/javascripts/vendor/jquery-2.1.0.min.js')
    script(src='/javascripts/vendor/jquery-ui.js')
    script(src='/javascripts/vendor/modernizr-2.6.2.min.js')
    script(src='/javascripts/vendor/bootstrap.js')
    script(src='/javascripts/vendor/holder.js')
    script(src='/javascripts/vendor/socket.io.js')
    script(src='/javascripts/vendor/simplewebrtc.bundle.js')
    script(src='/javascripts/vendor/holder.js')
    script(src='/javascripts/vendor/all.js')
    script(src='/javascripts/vendor/base64-binary.js')
    script(src='/javascripts/fb_postFeed.js')
    script(src='/javascripts/stuffHtml.js')
    script(src='/javascripts/action.js')
  body
    block content